* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: hsl(30, 38%, 92%);
    --card-bg-color: white;
}

body {
    background-color: var(--main-bg-color);

    /* Center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    border: 2px solid black;
    background-color: var(--card-bg-color);
    height: 40rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 4% / 2%;
    object-fit: contain;
    overflow: hidden;
}

.card-img{
    object-fit: contain;
    overflow: hidden;
    max-height: 40%;
    max-width: 100%;
}

.mobile-img {
    object-fit: contain;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.attribution {
    position: fixed;
    bottom: 0;
    display: none;
}