/* TO DO!!!!! */

/* create desktop design with media queries and ??? */



* {
    padding: 0;
    margin: 0;
}

img {
    object-fit: contain;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

:root {
    --main-bg-color: hsl(30, 38%, 92%);
    --card-bg-color: white;
    --green-btn-color: hsl(158, 36%, 37%);

    --lighter-text: hsl(212, 12%, 48%);
    --medium-text: hsl(228, 12%, 48%);

    --ff-fancy-500: 'Fraunces', serif;
    --ff-plain: 'Montserrat', sans-serif;
    
}

body {
    background-color: var(--main-bg-color);

    /* Center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--card-bg-color);
    max-height: 40em;
    width: 20rem;
    margin: 2rem;
    border-radius: 4% / 2%;
    object-fit: contain;
    overflow: hidden;
}

.card-img{
    object-fit: contain;
    overflow: hidden;
    max-height: 40%;
    max-width: 100%;
}

#desktop-img{
    display: none;
}


#perfume {
    padding: 1rem;
    color: var(--medium-text);
    font-family: var(--ff-plain);
    font-weight: 500;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

#title{
    padding-left: 1rem;
    font-family: var(--ff-fancy-500);
    font-size: xx-large;

}

#main-text{
    color: var(--medium-text);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-family: var(--ff-plain);
    font-size: 14;
}

.prices{
    display: flex;
    padding: 1rem;
}

#sale-price{
    padding: 1rem;
    padding-left: 0rem;
    color: var(--green-btn-color);
    font-family: var(--ff-fancy-500);
    font-size: xx-large;
}

#retail-price{
    color: var(--lighter-text);
    text-decoration: line-through;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#btn {
    background-color: var(--green-btn-color);
    height: 3rem;
    width: 18rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
    /* Position the cart SVG */
    position: relative;
    left: 1rem; 
}

#cart-svg{
    position: absolute;
    left: 25%;
    bottom: 30%;
}

#addtocart{
    color: white;
    text-decoration: none;
    font-family: var(--ff-plain);
}

.attribution {
    position: fixed;
    bottom: 0;
    display: none;
}

@media (min-width: 800px) {
    .container{
        display: flex;
        min-width: 40rem;
        max-height: 30em;
        border-radius: 15px;
    }
    
    #mobile-img{
        display: none;
    }

    #desktop-img{
        display: flex;
    }

    .card-text{
        min-height: 100%;
        max-width: 50%;
        margin: auto;
    }

    #title{
        max-width: 75%;
    }

    #main-text{
        max-width: 80%;
    }


}